{% extends "./base.html" %}
{% block titulo %}LISTADO{% endblock %}
{% block cuerpo %}

<div class="flex flex-col mt-[2vh] justify-center items-center">
    <table class="table-auto w-[30%] my-5px">
        <thead>
            <tr class="border-4 border-purple-800 items-start">
                {% block encabezado %}{% endblock %}
            </tr>
        </thead>
        <tbody>
            {% block tabla %}{% endblock %}
        </tbody>
    </table>
    <br>
            <div class="flex flex-col">
                <a href="{% url 'index' %}" class="text-center my-5 shadow bg-purple-500 
            hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white 
            font-bold py-2 px-4 rounded">INICIO</a>
            </div>
</div>

{% endblock %}